<style>
  .creditos {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100%;
    color: #fff;
    text-shadow: 0 1px 3px rgba(0,0,0,.5);
  }

  .creditos div {
  	margin-left: 10%;
  	margin-right: 12%;
  }

  .creditos h3, h1, p, li{
  	color: #000000;
  }

  #centrado {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  #centrado li {
    list-style-type: none;
  }

</style>

<div id="body" class="creditos">
<a href="index.html#/atlas"><img id="cabeza" src="images/logo2.png"></a><img id="cabeza2" src="images/escuela-02.png">
  <!--<div class="lineanegra"></div>-->
	<div id="centrado">
    <h1>Realizado por: </h1><br>
    <img style="margin-bottom: 40px;" src="images/logo3.png" /><br>

    <ul>
    <li>Profesora Maria Isabel Marin Ceron</li>
    <li>Departamento Ciencias de la Tierra</li>
    <li>Escuela de Ciencias</li>
    <li>Universidad EAFIT</li>
    <li style="width: 60%; display: block; margin-left: auto; margin-right: auto;">Agradecimientos al Departamento de Ciencias de la Tierra, al Laboratorio de Geología (Maria Isabel Acevedo y Wilton Echavarría), a los cursos de rocas metamórficas (2010-2015) y a Juliana Mendoza, por su apoyo y soporte durante la realización del presente proyecto.</li>
    </ul ><br>


    <h1>Produccion: </h1><br>
    <img style="margin-bottom: 40px;" src="images/logo4.png" /><br>

    <h3 style="margin-top: 20px;">Medellin, 2015</h3>

    <h2 style="font-size:18px; color:#000000"><b>Como citar esta obra?</b></h2>
    <p style="width: 60%; display: block; margin-left: auto; margin-right: auto;">Favor citar este sitio de la siguiente forma:
Marín-Cerón M.I y Londoño Daniela. (2015). Atlas de rocas metamórficas de Colombia. Editorial Universidad EAFIT
 
 
Agradecimiento al semillero de investigación en Geoquímica y Geología Regional, Juliana Mendoza y los grupos de rocas metamórficas 2010-2014</p>


    
    
