<style>
  .glosario { 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-shadow: 0 1px 3px rgba(0,0,0,.5);
  }

  .glosario div {
  	margin-left: 10%;
  	margin-right: 12%;
  	margin-bottom: 3%;
  }

  #cuadrito {
  	width: 100%;
  	height: 50px;
  	background-color: #223772;
  	display: block;
  	margin-right: auto;
  	margin-left: auto;
  	color: #fff;
  	font-size: 28px;
  }

  #cuadrito div{
  	color: #57556D;
  }

  #cuadrito a{
  	color: #fff;  	
  }

  .glosario h2{
  	margin-left: 10%;
  	color: #223772;
  	width: 80%;
  	border-bottom: 1px solid #223772;
  	font-weight: bold;
  	font-size: 42px;
  }

  .glosario h3, .glosario p {
  	width: 40%;
  	display: block;
  	margin-right: auto;
  	margin-left: auto;
  }

</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="http://demos.flesler.com/jquery/scrollTo/js/jquery.scrollTo-min.js"></script>

<div class="glosario">
	<a href="index.html#/atlas"><img id="cabeza" src="images/logo2.png"></a><img id="cabeza2" src="images/escuela-02.png">
	<div>
		<h1 style="margin-top: 5%; text-align: center;">Glosario</h1>
		<div id="cuadrito">
			<div style="text-align: center;">
				A B <a id="buttonC">C</a> D <a id="buttonE">E<a/> <a id="buttonF">F</a> G H <a id="buttonI">I</a> J K <a id="buttonL">L</a> <a id="buttonM">M</a> N O P Q R S <a id="buttonT">T</a> U V W X Y Z
			</div>
		</div>
		<!-- Letra C -->
		<h2 id="C">C</h2>
		<h3>Clivaje:</h3>
		<p>Es la propiedad de una roca de dividirse en un conjunto de planos paraleos o subparalelos regulares.</p>

		<h3>Clivaje continuo:</h3>
		<p>Un tipo de clivaje que se caracteriza por la orientación preferencial de todos los constituyentes minerales de una roca, y en el que los planos de clivaje o foliación son desarrollados a la escala del tamaño de grano.</p>

		<h3>Clivaje espaciado:</h3>
		<p>Un tipo de clivaje en el que los planos de foliación están espaciados a intervalos regulares y separados por zonas conocidas como “microlitos”. La estructura es visible a simple vista.</p>

		<h3>Clivaje de fractura:</h3>
		<p>Un conjunto regular de fracturas paralelas o subparalelas poco espaciadas a lo largo de las cuales la roca se partirá preferencialmente.</p>

		<h3>Clivaje de crenulación/esquistosidad:</h3>
		<p>Es un tipo de clivaje espaciado desarrollado durante la crenulación de una foliación preexistente, y orientada paralelamente al plano axial de la crenulación.</p>

		<h3>Crenulación:</h3>
		<p>Un tipo de plegado regular con una longitud de onda de un centímetro o menos.</p>

		<!-- Letra E -->
		<h2 id="E">E</h2>
		<h3>Esquistosidad: </h3>
		<p>Es la orientación preferencial de los granos minerales o agregados en una roca producido por procesos metamórficos.</p>

		<h3>Estructura:</h3>
		<p>La estructura es la disposición de las partes de masa de roca,  independientemente de la escala, incluyendo relaciones espaciales entre las partes, su tamaño relativo, la  forma y las características internas de las partes.</p>

		<!-- Letra F -->
		<h2 id="F">F</h2>
		<h3>Fábrica:</h3>
		<p>Fue definido por Knopf y Ingerson (1938) como "los datos espaciales que rigen la disposición en el espacio de los elementos que componen cualquier tipo de forma externa”. En la práctica actual éstas partes elementales sólo se consideran como una contribución a una fábrica si "éstas se presentan una y otra vez de una manera reproducible de una muestra de una roca a otra".</p>

		<h3>Facie metamórfica:</h3>
		<p>Es un conjunto de asociaciones de minerales metamórficos, asociado en el tiempo y el espacio, mostrando una relación regular entre la composición mineral y la composición química, de tal manera que las diferentes facies metamórficas (conjuntos de asociaciones minerales) parecen estar relacionadas con distintas condiciones metamórficas, en particular, la temperatura y la presión, aunque otras variables tales como PH2O puede también ser importante.</p>

		<h3>Foliación:</h3>
		<p>Estructura foliada fue utilizado por Macculloch (1821) para denotar un mineral dispuesto en capas gruesas con una pobre división, lo cual es el equivalente en términos modernos a la estructura gneisosa.</p>

		<h3>Fractura:</h3>
		<p>En un término general para cualquier rotura en un macizo rocoso, incluso si causa o no desplazamiento. Incluye grietas y fallas.</p>

		<!-- Letra I -->
		<h2 id="I">I</h2>
		<h3>Isograda:</h3>
		<p>Es una superficie a través de la secuencia de roca, representada por una línea en un mapa, definida por la aparición o desaparición de un mineral, una composición mineral específica o una asociación mineral como resultado de una reacción específica.</p>

		<!-- Letra L -->
		<h2 id="L">L</h2>
		<h3>Lineación:</h3>
		<p>Cualquier característica lineal visible que ocurre repetidamente en un cuerpo de roca.</p>

		<!-- Letra M -->
		<h2 id="M">M</h2>
		<h3>Metamorfismo retrogresivo (retrogrado):</h3>
		<p>Es un metamorfismo que da lugar a la formación de minerales que son típicos de un grado inferior (es decir, la temperatura más baja) que el anterior conjunto de fases.</p>

		<h3>Metamorfismo progresivo (progrado):</h3>
		<p>Es un metamorfismo que da lugar a la formación de minerales que son típicos de un grado superior (es decir, una temperatura más alta) que el primer conjunto de fases.</p>

		<h3>Metamorfismo regional:</h3>
		<p>Es un tipo de metamorfismo que ocurre en un área de gran extensión, es decir, que afecta a un volumen de roca grande, y se asocia con procesos tectónicos a gran escala, como expansión de fondo oceánico, engrosamiento cortical relacionado con colisión de placas, subsidencia de cuenca profunda etc.</p>

		<h3>Metamorfismo local:</h3>
		<p>Es un tipo de metamorfismo de área limitada (volumen) en la que el metamorfismo puede atribuirse directamente a una causa localizada, como una intrusión magmática, fallas o impacto de un meteorito.</p>

		<h3>Metamorfismo orogénico:</h3>
		<p>Es un tipo de metamorfismo de extensión regional relacionada con el desarrollo de cinturones orogénicos. El metamorfismo puede asociarse con diversas fases de desarrollo orogénico e involucrar ambos regímenes compresión y extensión. Los efectos dinámicos y térmicos se combinan en escalas de tiempo variables y puede ocurrir una amplia gama de condiciones de presión y temperatura.</p>

		<h3>Metamorfismo de enterramiento:</h3>
		<p>Es un tipo de metamorfismo en su mayoría de extensión regional que afecta a rocas enterradas profundamente bajo una pila volcánica-sedimentaria y por lo general no está asociado con la deformación o magmatismo. Las rocas resultantes son parcial o totalmente recristalizada generalmente carecen de esquistosidad.</p>

		<h3>Metamorfismo de suelo oceánico:</h3>
		<p>Es un tipo de metamorfismo de extensión regional o local relacionado con el empinado gradiente geotérmico que ocurre cerca a centros de expansión en ambientes oceánicos.</p>

		<h3>Metamorfismo de dislocación:</h3>
		<p>Es un tipo de metamorfismo asociado a zonas de falla o cizalla. La reducción de tamaño de grano es muy común en las rocas que son afectadas por este tipo de metamorfismo. Son comúnmente llamadas milonitas o cataclasitas.</p>

		<h3>Metamorfismo de impacto:</h3>
		<p>Es un tipo de metamorfismo de extensión local causado por el paso de una onda de choque, debido al impacto de un cuerpo planetario (proyectil o impactador) sobre una superficie planetaria (objetivo).</p>

		<h3>Metamorfismo de contacto:</h3>
		<p>Es un tipo de metamorfismo de extensión local que afecta a las rocas encajantes alrededor de cuerpos de magma emplazados en una variedad de ambientes desde volcánico a profundidades del manto superior, tanto en ambientes continentales y oceánicos.</p>

		<h2 id="T">T</h2>
		<h3>Textura:</h3>
		<p>El término textura se utiliza de dos maneras. La forma más común es como un término para la disposición espacial y el tamaño relativo de los granos minerales y sus características internas (Spry, 1969). En este sentido, la textura es sinónimo de microestructura o en ciertos aspectos menos comunes, de microestructura.</p>
	</div>

<footer id="footer" layout="row">
    <img class="logo1" src="images/logo3.png" />
    <img class="logo2" src="images/logo4.png" />
    <a id="creditos2" ui-sref="creditos"><strong>Creditos</strong></a>
</footer>
</div>

<script type="text/javascript">

	$("#buttonC").click(function() {
    $.scrollTo( '#C', 800);
});
	$("#buttonE").click(function() {
    $.scrollTo( '#E', 800);
});
	$("#buttonF").click(function() {
    $.scrollTo( '#F', 800);
});
	$("#buttonI").click(function() {
    $.scrollTo( '#I', 800);
});
	$("#buttonL").click(function() {
    $.scrollTo( '#L', 800);
});
	$("#buttonM").click(function() {
    $.scrollTo( '#M', 800);
});
	$("#buttonT").click(function() {
    $.scrollTo( '#T', 800);
});
</script>