<style>
    html,
  body {
    background: url(images/background.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #2E3430;
    color: #fff;
    text-shadow: 0 1px 3px rgba(0,0,0,.5);
  }
</style>
<div flex="100" id="unico" layout="column" layout-align="center center">
    <md-button ui-sref="first">
        <img src="images/entrar.png" style="width: 150px"/>
    </md-button>
</div>
