<div background="#22351C" class="thumbnail">
  <div id="map"></div>
  <div layout="row" layout-align="space-around center">
    <div layout="column" layout-align="space-around start">
      <md-button class="md-accent"><img style="width: 20px;" src="images/iconos%20areas-rosa.png"> Área entre las fallas Otú - Pericos y Cauca - Almague</md-button>
      <md-button class="md-accent"><img style="width: 20px;" src="images/iconos%20areas-naranja.png"> Área entre las fallas Guaicáramo y Otú - Pericos</md-button>
    </div>
    <div layout="column" layout-align="space-around center">
      <md-button class="md-accent"><img style="width: 20px;" src="images/iconos%20areas-amarillo.png"> Área al oriente de la falla Guaicáramo</md-button>
      <md-button class="md-accent"><img style="width: 20px;" src="images/iconos%20areas-verde.png"> Área al occidente de la falla Cauca</md-button>
    </div>
    <div layout="column" layout-align="space-around center">
      <md-button class="md-accent"><img style="width: 20px;" src="images/iconos%20areas-verde.png"> Áreal entre las fallas Santa Marta  y Oca</md-button>
      <md-button class="md-accent"><img style="width: 20px;" src="images/iconos%20areas-azul.png"> Área al norte de la falla de Oca</md-button>
    </div>
  </div>
</div>

